<div class="os-viewport" #viewport (scroll)="onScroll()">
  <div class="os-content" #content>
    <ng-content />
  </div>
</div>

@if (hasScrollY()) {
  <div
    class="os-track-y"
    [class.os-track-y--dragging]="draggingY()"
    (mousedown)="onTrackYMouseDown($event)"
  >
    <div
      class="os-thumb-y"
      [style.height.px]="thumbH()"
      [style.top.px]="thumbTop()"
      (mousedown)="onThumbYMouseDown($event)"
    ></div>
  </div>
}

@if (hasScrollX()) {
  <div
    class="os-track-x"
    [class.os-track-x--dragging]="draggingX()"
    (mousedown)="onTrackXMouseDown($event)"
  >
    <div
      class="os-thumb-x"
      [style.width.px]="thumbW()"
      [style.left.px]="thumbLeft()"
      (mousedown)="onThumbXMouseDown($event)"
    ></div>
  </div>
}
