<!-- Label -->
<span class="tpr__label paragraph-ui">{{ label() }}</span>

<!-- Start + End fields side by side -->
<div class="tpr__inputs">
  <merces-time-field
    class="tpr__field"
    [format]="format()"
    [validationState]="validationState()"
    [disabled]="disabled()"
    [label]="'Start time'"
    [(value)]="startValue"
  />
  <merces-time-field
    class="tpr__field"
    [format]="format()"
    [validationState]="validationState()"
    [disabled]="disabled()"
    [label]="'End time'"
    [(value)]="endValue"
  />
</div>
