<!-- ==========================================================================
     Radio Picker
     Figma: Radio Picker - Brand / Radio Picker - Neutral (201:3657)

     Structure:
       Orientation=Left:  [Button, Label?]
       Orientation=Right: [Label?, Button]
     ========================================================================== -->

@if (orientation() === 'left') {

  <div class="radio-picker__button">
    <div class="radio-picker__circle"></div>
  </div>

  @if (group()) {
    <div class="radio-picker__label">
      <span class="paragraph-ui">{{ label() }}</span>
    </div>
  }

} @else {

  @if (group()) {
    <div class="radio-picker__label">
      <span class="paragraph-ui">{{ label() }}</span>
    </div>
  }

  <div class="radio-picker__button">
    <div class="radio-picker__circle"></div>
  </div>

}
